*,*::before,*::after{margin:0px;padding:0px;box-sizing:border-box;outline:none;font-family:Calibri;}
html{font-size:62.5%;}
body{
    font-size:1.6rem;
    display: flex;
    flex-direction: column;
}
#login,#page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page{
    display: none;
}
.heading{
    font-family: 'Billabong', sans-serif;
    font-weight: 300;      
}
#header{
    height: 5rem;
    border-bottom: solid 1px #d2d4d4;
}